@import "header.css";
@import "main-article.css";
@import "about-me.css";
@import "articles.css";
@import "projects.css";

:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --article-header-color: #141414;
    --article-text-color: #505050;
    --footer-background-color: #202020;
    --footer-header-color: #ECECEC;
    --footer-text-color: #D7D7D7;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.container {
    width: 90%;
    max-width: 980px;
    min-width: 250px;
    margin: 0 auto;
}

p {
    line-height: 1.35;
}

/* So they don't interfere with the click of the parents */
.article-date,
.article-img,
.article-title,
.article-summary,
.fa-bars {
    pointer-events: none;
}

/* Typography styles - Start */
.main-article-title {
    font-size: 2rem;
    font-weight: 700;
}

.article-title {
    font-size: 1.5rem;
}

.main-page-title,
.view-more-btn,
.recent-posts,
.article-content-header {
    font-size: 1rem;
    font-weight: 700;
}

.article-date {
    font-size: 0.875rem;
}

.main-nav-container,
.footer {
    font-size: 0.75rem;
}

.main-nav-container,
.footer-header {
    font-weight: 600;
}

/* Typography styles - End */

/* Footer styles - Start */

.footer {
    background-color: var(--footer-background-color);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
}

.footer-header {
    color: var(--footer-header-color);
}

.footer-copyright-text {
    color: var(--footer-text-color);
}

/* Footer styles - End */

/* Some style changes for larger screens */
@media (min-width: 500px) {

    /* Hide the hamburger icon */
    .fa-bars {
        display: none;
    }

    /* Change the nav list to a flex container to they sit side by side */
    .main-nav-list {
        display: flex;
        gap: 2em;
    }

    /* Change to flex container so we can position the heading and menu
      at either end of the container */
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* No longer any need for margin top, this is only when displayed vertically */
    .nav-links {
        margin-top: 0;
    }

    /* Only need one column up to this width, then after repeat the images */
    .article-container {
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    }

    .about-me-avatar {
        float: left;
        margin-right: 2em;
    }

}
